* {
    border: 1px solid red;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* Header styling */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding-left: 80px;
    padding-right: 80px;
}

.logo {
    font-size: 24px;
}

.right-links {
    font-size: 18px;
}

.right-links {
    display: flex;
    gap: 16px;
}

ul { /* these carry some margin with them */
    list-style-type: none;
    margin: 0;
}


/* Marquee Styling */


 
.marquee {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    background-color: #1F2937;
    color: #F9FAF8;
    padding-left: 80px;
    padding-right: 80px;
    flex-wrap: wrap;
}

.marquee-left  {
    flex: 1;
}

.marquee-image {
    flex: 1 0 0;
    background: gray;
    object-fit: contain;
    min-width: 200px;
}

.marquee-image img {
    max-width: 100%;
    min-width: 200px;

}

p {
    margin: 0;
}

.main {
    font-size: 48px;
    font-weight: bolder;
}

.sub {
    font-size: 18px;
    
}

.marquee-button {
    background-color: #3882F6;
    color: #F9FAF8;
}

/* INFO STYLING */

.info {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.info-header {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

.info-boxes {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-left: 60px;
    padding-right: 60px;
    flex-wrap: wrap;
}

.info-box {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.info-box-img {
    flex: 1 1 auto;
    height: 150px;
    width: 150px;
    padding: 0;
}

.info p {
    flex: 1;
    font-size: 10px;
    text-align: center;
    width: 85px;
}

/* Quote Section */

.quote {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    justify-content: center;
}

.quote-author {
    text-align: right;
}

/* Action */

.action {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 40px;
}

.action-left {
    flex: 2;
}

.action-right {
    flex: .7;
    text-align: right;
}

.call-to-action {
    margin: 0;
}

.action-text-detail {
    margin: 0;
}

/* footer styling */

.footer {
    display: flex;
    justify-content: center;
}