/* Header styling */
* {
    border: 1px solid black;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

.right-links {
    display: flex;
    gap: 16px;
}

ul {
    list-style-type: none;
}


/* Marquee Styling */

.marquee {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    gap: 30px;
}

.marquee-left  {
    flex: 1;
}

.marquee-image {
    flex: 1;
}
