body {
    padding-left: 100px;
    padding-right: 100px;
}

/* Header styling */
* {
    border: 1px solid black;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-links {
    display: flex;
    gap: 16px;
}

ul {
    list-style-type: none;
}


/* Marquee Styling */

.marquee {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.marquee-left  {
    flex: 1;
}

.marquee-image {
    flex: 1;
}

/* INFO STYLING */

.info-header {
    text-align: center;
}

.info-boxes {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85px;
}

.info-box-img {
    height: 85px;
    width: 85px;
}

.info p {
    font-size: 10px;
    text-align: center;
}